@charset "utf-8";
/*This is set for the whole css*/
body {
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant: normal;
	font-size: 20px;
    font-weight: 400;
	min-width: 1080px;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga","kern";
	background-size: cover;
	margin-bottom: 100px;
}
a{
	text-decoration: none;
	color:aliceblue;
}

ul{
	list-style: none;
    margin: 0 25px;
}

li{
	display: inline-block;
	margin: 0 15px;
}

hr{
	margin:10px 5%;
}

/*This is for the navigation part*/
.nav{
	background-color: #333;
	width:100%;
	opacity: 0.7;
	height: 40px;
	margin:0px;
	padding :10px 0px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.logo{
	float:left;
	margin:0px 0px 6px 20px;
	height:40px;
}

.nav_text_left{
	float:left;
	font-size: 21px;
	padding:6px 20px;
	margin-left: 20px;
	color:aliceblue;
}

.nav_text_right{
	float:right;
	font-size: 21px;
	padding:6px 20px;
	color:aliceblue;
}
/*This is for the footer*/
footer{
	margin-top:60px;
}

.footer_box{
	height:180px;
	background-color: #222;
	padding:20px;
	margin:0px;
}

.footer_detail_1{
	width: 500px;
	color: #BBB;
	float:left;
	margin-left: 200px;
}

.footer_detail_2{
	width: 330px;
	color: #BBB;
	float: right;
	margin-right: 200px;
	margin-top: 10px;
	padding-left: 200px;
	border-left: solid 1px #e5e9ef;
}

.footer_address{
	margin:10px;
	line-height: 35px;
}
/*This is for the homepage box*/
.content_box{
	margin: 0px;
	max-width: calc(1600px + 10%);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.head_img{
	width:100%;
}
/*Under which is the image and its texts*/
.img_text{
	font-family:Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: 0px 10px;
	font-size: 3em;
	color:#A0C985;
	text-shadow:1px 1px 1px #DC97FF;
}

.img_text_down{
	text-align: center;
	margin: 0px 10px 0px 0px;
	font-weight: 200;
	font-size: 3em;
	color:#444;
	text-shadow:0px 0px 1px #DC97FF;
}
.img_subtext{
	opacity: 0.7;
	font-family:Tahoma, Geneva, sans-serif;
	text-align: center;
	font-size: 25px;
	margin:5px 0px;
}
/*The three images of the homepage*/
.homepage_img1{
	width:100%;
	margin: 0 auto;
}

.homepage_img2{ 
	width:96%;
	margin: -50px 0px 0px 20px;
}

.homepage_img3{
	width:100%;
	margin: 0 auto;
}
.cake_menu{
	margin-left: -20px;
}
/*This is used for Contact Page*/
.contact_box{
	margin:50px 200px;
	justify-content: space-around;
}

.contact_detail_box_1{
	text-align: center;
	padding:40px 30px 20px 30px;
	width:350px;
	float:left;
	box-shadow: 0 1px hsl(0,0%,85%),
				0 2px hsl(0,0%,80%),
				0 3px hsl(0,0%,75%),
				0 4px hsl(0,0%,70%),
				0 5px hsl(0,0%,65%),
				0 5px 10px black;
	opacity: 0.8;
	border-radius: 3px;
	background: white;
}

.contact_detail_box_2{
	text-align: center;
	padding:40px 30px 20px 30px;
	width:350px;
	float:right;
	box-shadow: 0 1px hsl(0,0%,85%),
				0 2px hsl(0,0%,80%),
				0 3px hsl(0,0%,75%),
				0 4px hsl(0,0%,70%),
				0 5px hsl(0,0%,65%),
				0 5px 10px black;
	opacity: 0.8;
	border-radius: 3px;
	background: white;
}

.contact_picture{
	width:300px;
}
.contact_detail{
	color:grey;
}

.colorchange_a{
	color:grey;
}

.head_text{
	color:#000;
	font-size: 3em;
	font-family:Tahoma, Geneva, sans-serif;
	margin:50px 120px;
	opacity: 0.7;
}
.here_text{
		color:#B968F7;
	}
/*For buy.php */
.buy_button{
	font-size: 40px;
	margin:20px 0px 115px 325px;
	padding:12px 150px;
	background: #9100FF;
	color:#FFF;
	border-radius: 3px;
	border-color:#EEE;
	display:inline-block;
	cursor: pointer;
	border:none;
	opacity: 0.8;
	box-shadow: 0 14px 20px rgba(0,0,0,.5);
}

.cake_box{
	border-radius: 3px;
	margin: 50px auto;
	max-width: 1370px;
	min-width: 1370px;
	height: 1000px;
	background-color:#FFF;
	padding:20px 0px;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
}

.type_box{
	border-radius: 3px;
	margin: 80px auto;
	max-width: 1370px;
	min-width: 1370px;
	height: 950px;
	background-color:#FFF;
	padding:20px 0px;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
}

.check_box{
	border-radius: 3px;
	margin: 80px auto;
	max-width: 1370px;
	min-width: 1370px;
	height: 610px;
	background-color:#FFF;
	padding:20px 0px;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
}

.check_inner_box{
	margin:20px 70px;
	padding:20px;
	height: 390px;
	width: 1190px;
	background-color: #EEE;
	
}

.box_headtext{
	margin: 15px 70px 15px 70px;
	font-size: 1.7em;
	color:#CF3BFF;
}

.box_hr{
	border:#CF3BFF solid 1.2px;
}
.sub_text{
	font-size: 18px;
	color: grey;
}
/*change the hr style*/
.sub_hr{
	margin:0px 20px 0px 0px;
}
.sub_hr_1{
	margin:0px 20px -20px 0px;
	border:#C3C3C3 1px solid;
}
/*This is for the buying cake page*/
.cake_choose_box{
	margin: 40px 5px;
}

.sub_choose_box{
	line-height: 10px;
	font-size: 24px;
	margin: 4px;
}
/*The four boxes in set cake types box*/

.set_box_1{
	color:rgba(0,0,0,0.65);
	margin:50px 100px;
	padding:20px 20px;
	height:280px;
	float:left;
	width:400px;
	border-radius: 4px;
	background-color: #FBE1FF;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
	font-size: 25px;
}
.set_box_2{
	color:rgba(0,0,0,0.65);
	margin:50px 100px;
	padding:20px 20px;
	height:280px;
	width:400px;
	float:right;
	border-radius: 4px;
	background-color: #FBE1FF;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
	font-size: 25px;
}
.set_box_3{
	color:rgba(0,0,0,0.65);
	margin:50px 100px;
	padding:20px 20px;
	height:280px;
	width:400px;
	float:left;
	border-radius: 4px;
	background-color: #FBE1FF;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
	font-size: 25px;
}
.set_box_4{
	color:rgba(0,0,0,0.44);
	margin:50px 100px;
	padding:20px 20px;
	height:280px;
	width:400px;
	float:right;
	border-radius: 4px;
	background-color: #FBE1FF;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
	font-size: 25px;
}
/*set for choose input type*/
.choose_input_type{
	margin: 20px 0px;
	height: 20px;
	width:20px;
}
.message_input{
	font-size: 25px;
	width: 350px;
}
.radio_text{
	font-size: 26px;
	margin: 15px 10px;
	height: 20px;
	width: 20px;
}

.cake_size_text{
	font-size: 30px;
	line-height: 0px;
	color:#CF3BFF;
}

.cake_img{
	background-color:#EEE;
	margin: 10px 5px;
}

/* This is for the login page */

.login_box{
	border-radius: 3px;
	margin-top: 100px;
	margin-left: 200px;
	max-width: 300px;
	min-width: 250px;
	background-color:#FFF;
	padding:20px 40px;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
}
.input{
	font-size: 20px;
}
.login_button{
	font-size: 19px;
	width:120px;
	text-align: center;
	margin:30px 0px 10px 0px;
	padding:7px 30px;
	background: #4638F7;
	color:#FFF;
	opacity: 0.7;
	border-radius: 3px;
	border-color:#EEE;
	display:inline-block;
	cursor: pointer;
	border:none;
}

.justify_1{
	font-size: 20px;
}

.headtext{
	font-size: 44px;
	font-weight: 400;
}

/* For the registration page*/

.reg_box{
	border-radius: 3px;
	margin: 50px auto;
	background-color:#FFF;
	padding:20px 40px;
	box-shadow: 0 14px 20px rgba(0,0,0,.12);
	max-width: 700px;
	min-width: 700px;
	opacity: 0.7;
}

.input{
	font-size: 20px;
}

.reg_button{
	font-size: 20px;
	margin:-10px 0px 15px 0px;
	padding:10px 130px;
	background: #9100FF;
	color:#FFF;
	border-radius: 3px;
	border-color:#EEE;
	display:inline-block;
	cursor: pointer;
	border:none;
	opacity: 0.8;
}

/*	This is for the error message*/

.login_error{
	color:#FF393C;
	text-align:center;
	font-size: 17px;
	margin: 20px 0px;
}

.reg_error{
	color:red;
	text-align: center;
	font-size: 22px;
	margin-left: 180px;
}

.grey_text{
	color:dimgrey;
}

